<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
         colors="true">
    <testsuites>
        <testsuite name="framework">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="modules">
            <directory>*/modules/*/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>